.calendar-view-container{
    height: 100vh;
    padding: 50px 20px;
    background-color:  rgba(12, 6, 59, 0.849);
    text-align: center;
    color:white;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex:6;
}

.rbc-calendar {
    background-color: #0b2f5e;
    border-radius: 8px;
    padding: 16px;
    border: 1px solid black;
    text-align: center;
  }

  
  .rbc-day-bg + .rbc-day-bg {
    border-left: 1px solid #fffcfc;
    background-color: #0b2f5e;
  }
  .calendar-button{
    border: none;
    padding: 5px 5px;
    width: 100px;
    background-color: green;
    border-right: 1px solid white;
    color:black;
    cursor:pointer;
    transition: all 300ms ease-in;
  }
  .calendar-button:hover{
    color:white;
  }