.navBar {
  display: flex; 
  justify-content:end; 
  align-items: center; 
  padding: 16px 32px; 
  background: rgba(0, 3, 6, 0.892); 
  /* semi-transparent for overlay effect */ backdrop-filter: blur(8px); 
  /* glassy look */ 
  box-shadow: 0 4px 12px rgba(0,0,0,0.1); 
  position: sticky; 
  top: 0; 
  z-index: 50;
}
.navBar .nav-link {
  text-decoration: none;
  transition: all 300ms ease-in-out;
  font-size: 1.2rem;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  color: white;
  padding: 0px 15px;
}
.navBar .nav-link:hover {
  color: #08444e; 
}
