.task-card-container {
  background-color: rgb(211, 211, 191);
  display: flex;
  row-gap: 5px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  color: black;
  border-radius: 5px;
  min-width: 100px;
}
.task-card-container:hover {
  transform: scale(1.03);
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 12px 12px 24px #b1b1b1, -12px -12px 24px #ffffff;
}

#edit-btn svg {
  width: 15px;
  height: 15px;
}


.task-card-container button {
  cursor: pointer;
  transition: all 300ms ease-in;
  border: none;
  background-color: none;
  opacity: 0;
  transition: all 300ms ease-in-out;
  border-radius: 50%;

}

.task-card-container:hover button{
  opacity: 1;
}
.task-card-container #edit-btn:hover {
  transform: scale(1.1);
  background-color: rgba(46, 51, 46, 0.616);
}
 
