* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
body   {
  /* background:linear-gradient(blue,green); */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.active {
  border-bottom: 2px solid #744343;
}
